/*!
 * BASSE
 * https://github.com/illarra/basse
 */

/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}
.h1, h1 { font-size:2.6em; color:#07c; }
.h2, h2 { font-size:1.9em; }
.h3, h3 { font-size:1.6em; }
.h4, h4 { font-size:1.3em; }
.h5, h5 { font-size:1.1em; }
.h6, h6 { font-size:1.1em; }

/* Paragraphs
The first two levels can be customized with colors,
font-families and more: they are 'free for design'.
The others, preferably not.
*/
.p1, big { font-size:1.3em; font-family:"Georgia",serif; color:#07c; }
.p2 { font-size:1.2em; line-height:1.35; }
.p3 { font-size:1.1em; line-height:1.4; }
.p4, p { font-size:1em; line-height:1.35; }
.p5 { font-size:.9em; }
.p6, small { font-size:.8em; line-height:1.2; }

/* Links */
a { color:#07c; text-decoration:underline; }
a:hover, a:focus { text-decoration:none; }
a:focus { background-color:#ffc; }
a:visited { color:#666; }

/* Quotes */
cite {}
q {}

/* Icons */
.i, i {
  display:inline-block; overflow:hidden;
  line-height:0; font-size:0; vertical-align:text-bottom; *vertical-align:middle;
  text-indent:-999em; *text-indent:0; /* Here there are some IE hacks */
  background-image:url(sprite.png);
  height:16px; width:16px;
  cursor:default;
}
.i32 { height:32px; width:32px; } /* Example for a different icon size */

.iGit { background-position:0 0; }
.iHelp { background-position:0 -16px; }
.iAdd { background-position:0 -32px; }
.iDelete { background-position:0 -48px; }

/* Buttons
In this case, we only have 3 sizes: big, normal and small.
NOTE that we use the .b class here for buttons. We do that
because the <b> element is deprecated: use <strong> instead.
*/
.b, button, input[type=submit] {
  
}
.b1 {}
.b4, button, input[type=submit] {}
.b6 {}

/* Tables */
/* ... */
th { font-weight:bold; }

/* List styles */
ul.icons li { margin-left:20px; list-style-type:none; }
ul.icons i:first-child { float:left; margin-left:-20px; }
ul.bullets li { margin-left:20px; list-style:disc outside; }
ol.decimals li { margin-left:20px; list-style:decimal outside; }

/* Font weights */
.strong, strong, em { font-weight:bold; }
.normal { font-weight:normal; }
.weak { font-weight:normal; color:#999; }
.dead { font-weight:normal; color:#ccc; }

/* Font families and styles */
.sans { font-family:"Arial",sans-serif; }
.serif { font-family:"Georgia",serif; }
.monospace, code, pre { font-family:monospace; }
.italic { font-style:italic; }

/* Sub- and superscript */
.sub, sub { font-size:.6em; vertical-align:bottom; }
.sup, sup { font-size:.6em; vertical-align:top; }

/* Text transform */
.uc { text-transform:uppercase; }
.lc { text-transform:lowercase; }
.capital { text-transform:capitalize; }

/* Others */
abbr, acronym { border-bottom:1px dotted #000; cursor:help; }

/* Display
NOTE that there is no "hidden" class.
We recomended to use an inline 'style="display:none;"', specially
if you are going to use a JS library like jQuery to .show() or .hide()
the elements afterwards.
*/
.in { display:inline; }
.block { display:block; }
