/*!
 * basse.css
 * Basic CSS class collection.
 *
 * https://github.com/illarra/basse.css
 */

/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}
.h1, h1 { font-size:2.6em; color:#07c; }
.h2, h2 { font-size:1.9em; }
.h3, h3 { font-size:1.6em; }
.h4, h4 { font-size:1.3em; }
.h5, h5 { font-size:1.1em; }
.h6, h6 { font-size:1.1em; }

/* Paragraphs
The first two levels can be customized with colors,
font-families and more: they are 'free for design'.
The others, preferably not.
*/
.p1 { font-size:1.3em; font-family:"Georgia",serif; color:#07c; }
.p2 { font-size:1.2em; line-height:1.35; }
.p3 { font-size:1.1em; line-height:1.4; }
p { font-size:1em; line-height:1.35; }
.p5 { font-size:.9em; }
.p6 { font-size:.8em; line-height:1.2; }

/* Links */
a {
  color:#07c; text-decoration:underline;
}
a:hover, a:focus { text-decoration:none; }
a:focus { background-color:#ffc; }
a:visited { color:#666; }

/* Quotes */
cite {}
q {}

/* Icons */
.i, i {
  display:inline-block; overflow:hidden;
  line-height:0; font-size:0; color:transparent;
  vertical-align:text-bottom; *vertical-align:middle; /* IE Hack */
  background-image:url(sprite.png); background-repeat:no-repeat;
  height:16px; width:16px;
  cursor:default;
}
.i32 { height:32px; width:32px; } /* Example for a different icon size */

.iGit { background-position:0 0; }
.iHelp { background-position:0 -16px; }
.iAdd { background-position:0 -32px; }
.iDelete { background-position:0 -48px; }

/* Buttons */
.b, button, input[type=submit] {
  display:inline-block; cursor:pointer;
  color:inherit; text-decoration:none;
  text-align:center; padding:.35em .7em;
  background:#f5f5f5; border:solid 1px #ccc;
    background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e1e1e1));
    background:-moz-linear-gradient(top, #fff, #e1e1e1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
  vertical-align:middle; white-space:nowrap;
}
.b:hover, button:hover, input[type=submit]:hover { color:#000; border-color:#666; }
.b:active, button:active, input[type=submit]:active { background:#ddd; border-color:#333; }

/* Tables */
/* ... */
th { font-weight:bold; }

/* List styles
NOTE that IE6 is not fully supported here
*/
ul.icons li, ul.bullets li, ol.decimals li {
  margin-left:21px;
}
ul.icons i:first-child { width:21px; margin-left:-21px; }
ul.icons li { list-style-type:none; }
ul.bullets li { list-style:disc outside; }
ol.decimals li { list-style:decimal outside; }

/* Font weights */
.strong, strong, em { font-weight:bold; }
.normal { font-weight:normal; }
.weak { font-weight:normal; color:#999; }
.dead { font-weight:normal; color:#ccc; }

/* Font families and styles */
.sans { font-family:"Arial",sans-serif; }
.serif { font-family:"Georgia",serif; }
.monospace, code, pre { font-family:monospace; }
.italic { font-style:italic; }

/* Sub- and superscript */
.sub, sub { font-size:.6em; vertical-align:bottom; }
.sup, sup { font-size:.6em; vertical-align:top; }

/* Text transform */
.uc { text-transform:uppercase; }
.lc { text-transform:lowercase; }
.capital { text-transform:capitalize; }

/* Inline font-size modifiers */
.big, big { font-size:1.5em; }
.small, small { font-size:.8em; }

/* Others */
abbr, acronym {
  border-style:dotted; border-color:inherit; border-bottom-width:1px;
  cursor:help;
}
.mark, mark { color:inherit; background-color:#ff6; }

/* Display helpers
NOTE that there is no "hidden" class.
We recomended to use an inline 'style="display:none;"', specially
if you are going to use a JS library like jQuery to .show() or .hide()
the elements afterwards.
*/
.in { display:inline; }
.block { display:block; }
.fl { float:left; }
.fr { float:right; }

/* Clearfix */
.clearfix {}

/* Browser hacks */
@-moz-document url-prefix() {
  .b, button, input[type=submit] { padding:.22em .6em; }
}